@import url("https://fonts.googleapis.com/css?family=Merriweather:300, 300i");
@import url("https://fonts.googleapis.com/css?family=Oswald:500,600,700");
html, body {
  font-size: 10px;
  margin: 0; }

.container {
  max-width: 1000px;
  padding: 3rem 1.5rem;
  margin: 0 auto;
  position: relative; }
  .container h1, .container h2, .container h3, .container h4, .container h5, .container h6, .container p, .container i, .container b, .container a {
    padding: 0; }
  .container h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin: 0 auto 1.5rem; }
  .container h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin: 0 auto 2rem; }
  .container h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.6rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 3rem; }
    .container h3 span.large {
      font-size: 4rem;
      line-height: 5rem; }
  .container h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0 auto 1rem; }
    .container h4 span.num {
      font-size: 5rem;
      line-height: 5rem;
      color: #f06230; }
  .container h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0.5rem 0; }
  .container p {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2.5rem;
    max-width: 650px;
    margin: 0 auto 3rem; }
    .container p.centered {
      text-align: center; }
    .container p span.divider {
      position: relative;
      bottom: -5px;
      width: 1px;
      background: black;
      height: 2rem;
      display: inline-block;
      margin: 0 1rem; }
  .container a {
    color: #f06230;
    transition: opacity 0.35s ease-in-out; }
    .container a:hover {
      opacity: 0.5; }
    .container a.btn {
      padding: 1rem 2rem;
      border: 2px solid #000;
      font-size: 1.2rem;
      line-height: 1.2rem;
      display: inline-block;
      margin: 1rem auto 2rem;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      position: relative; }
      .container a.btn:hover {
        cursor: pointer;
        opacity: 1; }
      .container a.btn.outline {
        color: #000; }
        .container a.btn.outline:after {
          content: '';
          height: 0%;
          width: 100%;
          background: rgba(240, 98, 48, 0.15);
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.35s ease-in-out;
          z-index: -1; }
        .container a.btn.outline:hover:after {
          height: 100%; }
      .container a.btn.solid {
        color: #fff;
        background: rgba(240, 98, 48, 0.15); }
        .container a.btn.solid:after {
          content: '';
          height: 100%;
          width: 100%;
          background: black;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.35s ease-in-out;
          z-index: -1; }
        .container a.btn.solid:hover {
          color: #000; }
          .container a.btn.solid:hover:after {
            height: 0%; }
  .container .tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    padding: 0.5rem;
    background: white;
    pointer-events: none;
    border: 2px solid #000; }
    .container .tooltip b {
      display: block;
      font-family: "Oswald", sans-serif;
      margin: 0 auto 0.25rem;
      font-size: 1.5rem;
      text-transform: uppercase; }
    .container .tooltip p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.8rem; }
  .container #cases-nationwide {
    text-align: center;
    margin: 0 auto 3rem; }
    .container #cases-nationwide .stat {
      text-align: center;
      margin: 0 auto 1rem; }
      @media all and (min-width: 650px) {
        .container #cases-nationwide .stat {
          width: 175px;
          display: inline-block;
          margin: 0 1rem 1rem;
          vertical-align: top; } }
  .container .filters {
    text-align: center;
    margin: 0 auto 3rem; }
    .container .filters h3 {
      margin: 0 auto 1.5rem; }
    .container .filters a.btn {
      margin: 0 1rem; }
  .container #map {
    max-width: 1000px;
    margin: 0 auto 3rem; }
    .container #map #inner-map {
      padding-bottom: 52.08333%;
      position: relative; }
      .container #map #inner-map svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .container #map #inner-map .state {
        transition: all 0.35s ease-in-out; }
        .container #map #inner-map .state:hover {
          opacity: 0.25;
          cursor: pointer; }
  .container .table {
    max-width: 750px;
    margin: 0 auto 3rem; }
    .container .table .row {
      display: flex;
      width: 100%;
      text-decoration: none;
      color: #000;
      transition: all 0.35s ease-in-out; }
      .container .table .row:first-of-type {
        background: #000 !important;
        color: #fff; }
        .container .table .row:first-of-type:hover .col p {
          color: #fff; }
      .container .table .row:nth-of-type(2n + 1) {
        background: rgba(0, 0, 0, 0.1); }
      .container .table .row:hover {
        cursor: pointer;
        background: rgba(240, 98, 48, 0.05); }
        .container .table .row:hover .col p {
          font-weight: 700;
          color: #f06230; }
      .container .table .row .col {
        padding: 0.5rem 1rem;
        width: calc(100%/4);
        flex-grow: 0; }
        .container .table .row .col:first-of-type {
          width: calc(100%/2); }
        .container .table .row .col p {
          margin: 0;
          text-transform: capitalize; }
  .container #cases-in-state {
    padding: 3rem 0; }
  .container #cases-at-college {
    text-align: center;
    padding: 3rem 0; }
    .container #cases-at-college #college-graph {
      max-width: 750px;
      margin: 3rem auto; }
      .container #cases-at-college #college-graph #inner-college-graph {
        position: relative;
        padding-bottom: 30%; }
      .container #cases-at-college #college-graph svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .container #cases-at-college #college-graph svg g {
          height: 100%; }
          .container #cases-at-college #college-graph svg g rect {
            fill: #f06230; }
          .container #cases-at-college #college-graph svg g text.label {
            font-family: "Merriweather", serif;
            font-size: 4.5rem;
            fill: #fff;
            text-anchor: end; }
          .container #cases-at-college #college-graph svg g text.zero {
            fill: #f06230; }
          .container #cases-at-college #college-graph svg g.y text {
            text-anchor: end;
            font-family: "Merriweather", serif;
            font-size: 1.3rem; }
  .container .about {
    box-sizing: border-box;
    max-width: 650px;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 2rem; }
    .container .about p {
      margin: 0; }
  .container #back-to-map {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    background: url("_assets/usa.svg") 50% 50% no-repeat, #f06230;
    background-size: contain;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer; }
    @media all and (min-width: 1000px) {
      .container #back-to-map {
        right: calc((100% - 1000px)/2); } }
    .container #back-to-map img {
      width: 40px;
      display: block;
      margin: 0 auto; }
